@-webkit-keyframes pulse_opacity {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

.pulse-opacity {
	-webkit-animation-name: 'pulse_opacity';
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}