@require 'reset'
@require 'helpers'
@require 'animations'

html, body
  width 100%
  height 100%
  font-family Karla, sans-serif
  color white

body
  background url("../img/loop.gif") no-repeat center center
  background-size cover

h1.ccdradio
  background url("../img/ccdradio.png") no-repeat
  background-size contain
  width 180px
  height 0
  padding-top 98px
  overflow hidden
  position absolute
  top 20px
  left 20px

#background
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%
  z-index -1
  .image
    position absolute
    width 100%
    height 100%
    left 0
    top 0
    z-index 0
    background-size cover
  .texture
    position absolute
    width 100%
    height 100%
    background rgba(0,0,0,0.5) url("/img/pattern.png")
    z-index 1
    opacity 0.5

#main-nav
  position absolute
  bottom 120px
  right 20px
  a
    color white
    text-decoration none
  .spacer
    margin 0 20px


#main
  > div
    display none
    box-sizing border-box
    position relative
  .escucha
    display block

    .en-construccion
      position absolute
      bottom 20px
      left 20px
      width 200px
      font-size 14px

    a.escucha-btn
      listen-color = white
      display block
      position absolute
      width 8em
      margin-left -4em
      height 2em
      margin-top -1em
      line-height @height
      left 50%
      top 50%
      border 4px solid listen-color
      color listen-color
      font-size 24px
      font-weight bold
      text-decoration none
      text-align center
      audio
        display none
      i
        margin-right 10px
      &:hover
        color black
        background white
      .label
        display none
        padding 5px
        box-sizing border-box
        overflow hidden
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        width 100%
        .now-playing
          position relative
          width 100%
          white-space nowrap
          text-overflow ellipsis
          overflow hidden
      .on-air
        position absolute
        width 200px
        padding 0 20px
        box-sizing border-box
        text-align right
        top 0
        left -200px
        overflow hidden
        color #fff
        pointer-events none
        span
          position relative
          left 200px
          opacity 0
          transition all ease-in-out 0.5s
          -webkit-transition @transition
          &:before
            -webkit-animation-name 'pulse_opacity'
            -webkit-animation-duration 5000ms
            -webkit-transform-origin 70% 70%
            -webkit-animation-iteration-count infinite
            -webkit-animation-timing-function linear
            display block
            position absolute
            content " "
            left -25px
            width 20px
            margin-top -(@width/2)
            top 50%
            height @width
            border-radius @width
            background red
            z-index 100

body.is-playing #main .escucha
  .text
    display none
  .label
    line-height 1.4em
    display inline-block
    font-size 14px
    span
      display block
  .on-air span
    left 0
    opacity 1

#main
  .programacion
    position relative
    margin 0 auto
    width 900px
    .bio-container
      position absolute
      z-index 2
      left 0
      right 0
      top 80px
      #bio
        width 420px
        max-width 100%
        margin 0 auto
        font-size 12px
        line-height 1.6em
        position relative
        h1
          font-weight bold
          line-height 2em
          margin-left 22px
        h2
          color #ffb54d
          text-transform uppercase
          font-weight bold
          span
            margin-right 1em
          .schedule
            font-weight normal
        .about
          border 4px solid
          padding 20px
        .show
          border 4px solid
          border-top none
          padding 20px
        .side
          position absolute
          width 160px
          left -164px
          top -40px
          img
            border 4px solid #fff
            display block
          a
            color #fff
            text-decoration none
            text-align right
            font-weight bold
            display block

    .calendario
      position absolute
      left 0
      right 0
      top 160px
      > div
        float left
        position relative
        width 180px
        h2
          padding 20px
        a.show
          color inherit
          text-decoration none
          display block
          position relative
          padding 20px
          border 4px solid white
          border-bottom none
          margin 0 -2px
          top -4px
          &:last-child
            border-bottom @border
          .time
            color #ffb245
            font-size 11px
          .who
            font-size 12px
      .miercoles
        top -80px
      .viernes
        top 80px

  .acerca-de
    font-size 32px
    line-height 1.8em
    padding 80px 120px
    max-width 1280px
    margin 0 auto
    strong
      font-weight bold
      border-bottom 3px solid white




footer
  position fixed
  width 100%
  bottom 0
  overflow hidden
  background #252525
  & > *
    width 200px
    height 0
    padding-top 100px
    overflow hidden
  .sep
    float left
    background url("/img/sep.png") no-repeat
  .conaculta
    float right
    background url("/img/conaculta.png") no-repeat
